/****************
Classes and Reset
*****************/
:root {
	--blue_1:          rgb(0,119,181);
    --blue_2:          rgb(240,246,252);
	--grey:            rgb(176,192,205);
    --grey_2:          rgb(247,247,247);
	--red:             rgb(202,48,67);

	--background_main: rgb(236,236,236);

	--boxShadow_1: 0 1px 1px 0 rgba(0,0,0,0.2);
	--boxShadow_2: 0 0.75px 0.75px 0.5px rgba(0,0,0,0.2);

	--font_main: Seravek;
}

* {
	/* Background */
	background-repeat: no-repeat;
	/* Border */
	border-style: none;
    /* Box Model */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    /* Smoothing */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	font-smoothing: antialiased;
	/* Text Select */
	user-select: none;
}

/*****************
General Add/Remove
******************/
.displayNone {
	display: none;
}

.displayBlock {
	display: block;
}

.displayFlex {
	display: flex;
}

.positionRelative {
    position: relative;
}

.zIndex2 {
	z-index: 2;
}

.spacing {
	margin-left: 8px;
}

/****************
APP GENERAL PARTS
*****************/
body {
	background-color: var(--background_main);
}

.app {
	position: relative;
    min-width: 320px; /* smallest mobilewidth: iphone4 */
    max-width: 414px; /* largest  mobile width: iphone6/7/8Plus */
    height: 100vh;
	margin: 0 auto;
	overflow: hidden;

    /* border: 1px solid black; */
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
}

.blurTile {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(236,236,236);
	opacity: 0.8;
	z-index: 1;
}

/*******
ADD PAGE
********/
.addPage {
	position: absolute;
    width: 100%;
    height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
}

/********
VIEW PAGE
*********/
.viewPage {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 100%;
}

.viewItemsWrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 78px;
    overflow-y: scroll;
}
.viewItemsWrapper::-webkit-scrollbar {
    display: none;
}

.dayBlock {
    margin-top: 16px;
}

.dayHeader {
    position: relative;
    color: var(--blue_1);
}


.hourHeader {
    color: var(--blue_1);
    font-family: Avenir Next;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.5px;
}
.addPage .hourHeader {
    display: flex;
    width: 17%;
}
.viewPage .hourHeader {
    position: relative;
    margin-top: 15px;
}
.viewPage .dayHeader .colorRed,
.viewPage .hourHeader.colorRed,
.viewPage .minute.colorRed {
    color: var(--red);
}


.addPage .hourHeader > span:nth-of-type(2) {
    margin-left: 4px;
}
.viewPage .hourHeader > span:nth-of-type(2) {
    margin-left: 1px;
}


.dayText,
.dayInfo {
    font-family: var(--font_main);
    text-align: center;
}

.dayText {
    letter-spacing: 0.26px;
    font-size: 18px;
    font-weight: 500;
}

.dayInfo {
    letter-spacing: 0.16px;
    font-size: 11px;
    font-style: italic;
}
