.background_main_vl {
	background-color: var(--background_main);
}

.background_white_vl {
	background-color: white;
}

.viewItemsWrapper {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 78px;
    overflow-y: scroll;
}

.dayBlock {
    margin-top: 16px;
}

.dayHeader_vl {
    position: relative;
    color: var(--blue_1);
}

.dayText_vl,
.dayInfo_vl {
    font-family: var(--font_main);
    text-align: center;
}

.dayText_vl {
    letter-spacing: 0.26px;
    font-size: 18px;
    font-weight: 500;
}

.dayInfo_vl {
    letter-spacing: 0.16px;
    font-size: 11px;
    font-style: italic;
}

.hourHeader_vl {
    position: relative;
    margin-top: 15px;
    margin-left: 10%;
    color: var(--blue_1);
    font-family: Avenir Next;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.5px;
}

.hourHeader_vl > span:nth-of-type(2) {
    margin-left: 4px;
}

.itemTile_vl {
    display: flex;
    position: relative;
    left: 10%;
    width: 80%;
    height: 36px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 0.75px 0.75px 0 rgba(0,0,0,0.2);
}
.hideItemTile_vl {
	background-color: rgba(0,0,0,0);
	box-shadow: none;
}

.dot_vl {
    display: block;
	position: absolute;
	top: 16px;
	width: 4px;
	height: 4px;
	margin-left: 9.7%;
	background-image: url('dot.svg');
	background-repeat: no-repeat;
	background-size: contain;
}

.itemField_vl {
    width: 64%;
	height: 22px;
	margin-top: 7px;
	margin-left: 19.9%;
	padding: 2px;
	font-family: var(--font_main);
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.2px;
	overflow-x: hidden;
	outline: none;
}

.minValues_vl {
	width: 16px;
	height: 36px;
	color: var(--blue_1);
	font-family: var(--font_main);
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.2px;

	/* border: 1px solid red; */
}

.trashIcon_vl {
    width: 16px;
	height: 16px;
	margin-top: 11px;
	margin-left: 2%;
	background-image: url('trashIcon.svg');
	background-repeat: no-repeat;
	background-size: contain;
}
