.viewItemsWrapper {
    padding-top: 40px;

    /* border: 1px solid red; */
}

.dayBlock {
    /* border: 1px solid red; */
}

.dayHeader {

}

.dayText_view,
.dayInfo_view {
    font-family: var(--font_main);
    text-align: center;
}

.dayText_view {
    letter-spacing: 0.26px;
    font-size: 18px;
    font-weight: 500;
}

.dayInfo_view {
    letter-spacing: 0.16px;
    font-size: 11px;
    font-style: italic;
}

.itemTile_vl {
    display: flex;
    position: relative;
    left: 10%;
    width: 80%;
    height: 36px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 0.75px 0.75px 0 rgba(0,0,0,0.2);
}

.itemField_vl {
    /* border: 1px solid red; */
}

.hourHeader_vl {
    font-family: Avenir Next;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.5px;
    margin-left: 10%;
}
