.dropdownItemHighlight {
    color: var(--blue_1);
}

.dropper {
	display: flex;
	position: relative;
    width: 80%;
	min-height: 47px;
	margin-top: 34px;
	border-radius: 2px;
    border: 1px solid var(--blue_1);
	box-shadow: var(--boxShadow_1);
	background-color: white;
}

.currDay_text {
	position: absolute;
	width: 100%;
	padding-top: 6px;
	font-size: 18px;
	font-family: var(--font_main);
	letter-spacing: 0.26px;
	font-weight: 500;
	text-align: center;
}

.items_daysCountdown {
	position: absolute;
	width: 100%;
	margin-top: 28px;
	font-size: 10px;
	font-family: var(--font_main);
	font-style: italic;
	text-align: center;
}

.dropper > .downArrow {
	position: absolute;
	right: 15px;
	margin-top: 18px;
	width: 24px;
	height: 24px;
	background-image: url('downArrow.svg');
	background-repeat: no-repeat;
}

.dropdownMenu_day {
	position: absolute;
	top: 81px;
	width: 80%;
    transition: max-height 0.2s ease-out, opacity 0.3s ease-out;
	margin-top: 2px;
    background-color: white;
	border-radius: 2px;
	box-shadow: var(--boxShadow_1);
	overflow-y: scroll;
	z-index: 1;
}
.dropdownMenu_day::-webkit-scrollbar {
    display: none;
}

.dropdownMenu_day.closedHeight {
    max-height: 0;
    opacity: 0;
}

.dropdownMenu_day.openHeight {
	max-height: 390px;
    opacity: 1;
}

.dropdownMenu_day.closedBorder {
    border: 0px solid transparent;
}

.dropdownMenu_day.openBorder {
    border: 1px solid var(--blue_1);
}

.dropdownMenu_innerWrapper p {
	position: relative;
	display: block;
	width: 100%;
	height: 47px;
	font-family: var(--font_main);
	font-size: 16px;
	font-weight: 500;
	line-height: 32px;
	letter-spacing: 0.24px;
}

.dropdownMenu_innerWrapper p:nth-of-type(odd){
	background-color: rgb(240,246,252);
}

.dropdownMenu_innerWapper p:nth-of-type(even){
	background-color: white;
}

.dropdownMenu_day .scrollWrapper {
    display: block;
    position: relative;
    top: 4px;
    left: 98%;
    z-index: 1;
}

.dropdownMenu_day .scrollWrapper .scrollBar {
    display: block;
    position: fixed;
    width: 3px;
    transition: height 0.2s ease-out;
    background-color: rgb(188,212,224);
}

.dropdownMenu_day .scrollBar.closedHeight {
    height: 0;
}

.dropdownMenu_day .scrollBar.openHeight {
    height: 380px;
}

.dropdownMenu_day .scrollWrapper .scrollBall {
    display: block;
    width: 3px;
    background-color: rgb(93,165,202);
}



.dropdownMenu_day
.monthScrollbar {
    position: fixed;
    width: 36px;
    margin-top: -5px;
    margin-left: -28px;
    padding-top: 15px;
    z-index: 2;
    font-family: "Bookman Old Style", "Georgia";
    font-weight: bold;
    font-size: 12px;
    color: var(--blue_1);
    letter-spacing: -1px;
    transition: height 0.2s ease-out;
    overflow: hidden;
}
.dropdownMenu_day
.monthScrollbar.closedHeight {
    height: 0;
}
.dropdownMenu_day
.monthScrollbar.openHeight {
    height: 380px;
}
.dropdownMenu_day
.monthScrollbar
p {
    margin-bottom: 15px;
}

.monthBarHighlight {
    color: black;
    /* color: var(--red); */
    text-decoration: underline;
}


/* .dropdownMenu_day .monthQuickBar {
    position: fixed;
    right: 10%;
    z-index: 2;
}
.dropdownMenu_day .monthQuickBar.closedHeight {
    height: 0;
}
.dropdownMenu_day .monthQuickBar.closedHeight{
    height: 380px;
} */



.dd_date {
	display: block;
	position: relative;
	width: 100px;
	top: 2px;
	margin: 0 auto;
}

.dd_date > span {
	display: block;
	position: absolute;
}
.dd_date > span:nth-of-type(2) {
	left: 40px;
}
.dd_date > span:nth-of-type(3) {
	left: 80px;
}

.dd_info {
	display: block;
	position: relative;
	top: 18px;
	width: 100px;
	margin: 0 auto;
	text-align: center;
	font-family: var(--font_main);
	font-size: 10px;
	font-style: italic;
}


.flashSignWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: -50px;
}

.flashSign {
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: var(--blue_1);
    border-radius: 100px;
    font-family: "Bookman Old Style", "Georgia";
    font-size: 34px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 100px;
    letter-spacing: -2.8px;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}
.flashSign_fade {
    animation: flashSign_fade 0.8s ease-out;
}
@keyframes flashSign_fade {
    0%{
        opacity: 0.9;
    }
    50%{
        opacity: 0.9;
    }
    100%{
        opacity: 0;
    }
}
