.footer {
    width: 100%;
    height: 57px;
    position: absolute;
    bottom: 0;
    background-color: var(--background_main);
}
.footer::before {
    content: "";
    display: block;
    width: 80%;
    height: 1px;
    margin: 0 auto;
    background-color: var(--grey);
}

.footer > div {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.footer > div > div {
    width: 48%;
    height: 32px;
    border-radius: 2px;
    border: 1px solid var(--blue_1);
    margin-top: 11px;
    font-family: var(--font_main);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 32px;
}

.pageButton_on {
    background-color: var(--blue_1);
    color: white;
}

.pageButton_off {
    background-color: white;
    color: var(--blue_1);
}

.sliderTrans {
    transition-duration: 0.3s;
    transition-property: left;
}
