.background_main {
	background-color: var(--background_main);
}

.background_white {
	background-color: white;
}

.timeSlots {
	width: 250px;
	height: 81%;
	margin-top: 11px;
	padding-top: 15px;
	overflow-y: scroll;

	/* border: 1px solid black; */
}
.timeSlots::before {
	display: block;
	position: absolute;
	top: 91px;
	content: "";
	width: 240px;
	height: 1px;
	margin-left: calc(50% - 155px);
	background-color: rgb(176,192,205);
}
.timeSlots::-webkit-scrollbar {
    display: none;
}

.slot {
	position: relative;
}

.slot:not(:nth-of-type(1)) {
	margin-top: 15px;
}

.slotHeader {
	position: relative;
    width: 88%;
    height: 20px;
	display: flex;

	/* border: 1px solid red; */
}

.spacing {
	margin-left: 8px;
}

.time {
	margin-left: 4px;
	font-family: Avenir Next;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: -0.5px;
	color: var(--blue_1);
}

.addButton {
    width: 154px;
    height: 10px;
    margin-top: 4px;
    margin-left: 16px;
    background-color: rgba(0,119,181,0.2);
    background-image: url('plusSymbol.svg');
    background-repeat: no-repeat;
    background-size: 8px;
	background-position-x: 50%;
	background-position-y: 1px;

	/*border: 1px solid black;*/
}

.scrollbar_timeSlots {
    position: absolute;
    top: 111px;
    right: 40px;
    width: 3px;
    height: 434px;
    background-color: rgb(188,212,224);
}

.scrollbar_timeSlots span {
    display: block;
    width: 3px;
    /* height: 10px; */
    background-color: rgb(93,165,202);
}
