.timeSlots {
    width: 80%;
	height: 81%;
	margin-top: 11px;
	padding-top: 15px;
	overflow-y: scroll;
}
.timeSlots::before {
	display: block;
	position: absolute;
	top: 91px;
	content: "";
    width: 80%;
	height: 1px;
	background-color: rgb(176,192,205);
}
.timeSlots::-webkit-scrollbar {
    display: none;
}

.timeSlots > div {
    padding-bottom: 16.5%;
}

.slot {
	position: relative;
}

.slot:not(:nth-of-type(1)) {
	margin-top: 15px;
}

.slotHeader {
	position: relative;
    width: 91%;
    height: 20px;
	display: flex;
}

.time {
    display: flex;
    width: 17%;
	font-family: Avenir Next;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: -0.5px;
	color: var(--blue_1);
}

.time span:nth-of-type(2) {
    margin-left: 4px;
}

.addButton {
    width: 80%;
    height: 10px;
    margin-top: 4px;
    margin-left: 16px;
    background-color: rgba(0,119,181,0.2);
    background-image: url('plusSymbol.svg');
    background-repeat: no-repeat;
    background-size: 8px;
	background-position-x: 50%;
	background-position-y: 1px;
}

.scrollbar_timeSlots {
    position: absolute;
    top: 111px;
    right: 10%;
    width: 3px;
    height: 70%;
    background-color: rgb(188,212,224);
    overflow-y: hidden;
}

.scrollbar_timeSlots span {
    display: block;
    width: 3px;
    background-color: rgb(93,165,202);
}
